.calendar {
    margin: 0px 40px;

}

[data-toggle="calendar"] > .row > .calendar-day {
    font-family: 'Roboto', sans-serif;
    width: 14.28571428571429%;
    border: 1px solid rgb(235, 235, 235);
    border-right-width: 0px;
    border-bottom-width: 0px;
    /*min-height: 120px;*/
}

[data-toggle="calendar"] > .row > .day {
    font-family: 'Roboto', sans-serif;
    width: 14.28571428571429%;
}

[data-toggle="calendar"] > .row > .calendar-day.calendar-no-current-month {
    color: rgb(200, 200, 200);
}

[data-toggle="calendar"] > .row > .calendar-day:last-child {
    border-right-width: 1px;
}

[data-toggle="calendar"] > .row:last-child > .calendar-day {
    border-bottom-width: 1px;
}

.calendar-day > time {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    padding: 10px 10px 3px 0px;
    text-align: right;
}

.calendar-day > .events {
    cursor: pointer;
}

.calendar-day > .events > .event h4 {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}

.calendar-day > .events > .event > .desc,
.calendar-day > .events > .event > .location,
.calendar-day > .events > .event > .datetime,
.calendar-day > .events > .event > .attending {
    display: none;
}

.calendar-day > .events > .event > .progress {
    height: 10px;
}

.vertical {
    text-align: center;
    position: relative;
    /*top: 50%;*/
    /*-webkit-transform: translateY(50%);*/
    /*-o-transform: translateY(50%);*/
    /*transform: translateY(50%);*/
}